@import "smart-grid.less";
@import "var.less";


.reset();

.wrapper {
	.wrapper();
}

.body {
	box-sizing: border-box;
}


// MIXIN BLOCK START
.mixinpart {
  fill: red;
  opacity: 0;    
  transition: @transition;
  &:hover {
    opacity: 0.3;
    transition: @transition;
    cursor: pointer;
  }
}

.mixinsides {
  border: @border;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90%;
  //background-color: rgba(0,0,0,1);
  background-image: url("../../dist/pict/tree.png");
  //background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  background-size: 100%;
  backface-visibility: hidden;
  transition: @transition;
  //box-shadow: 20px 20px 20px rgba(0,0,0,0.5), 0 30px 30px rgba(0,0,0,0.5);
  span {
    font-size: 2rem;
  }
}

// MIXIN BLOCK START



.cstk {  
  &__wrapper {
    //border: @border;
    display: flex;
    flex-direction: column;        
    align-items: center;
    background-image: url("../../dist/pict/bg.jpg");    
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  &__blockmenu {
    //border: @border;
    display: flex;
    justify-content: center;
    height: 9%;
    width: 100%;
    background-color: @bckmenu;
  }
  &__menu {
    //border: @border;
    display: flex;
    width: 60%;
  }
  &__blocklogo {
    //border: @border;
    display: flex;    
    align-items: center;
    width: 50%;    
    a {
      //border: @border;
      display: flex;
      justify-content: center;
      height: 90%;
      width: 100px;            
      img {      
        height: 100%;
      }
    }
    
  }
  &__blocklist {
    //border: @border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;    
    a {
      //border: @border;
      color: @colorlightgray;
      text-decoration: none;
      padding: 5px;      
      transition: @transition;
      &:nth-child(1) {
        color: @coloryellow;
      }
      &:hover {
        color: @coloryellow;
        transition: @transition;        
        text-decoration: underline;
      }
    }
  }
  &__blockcow {
    border: @border;
    display: flex;
    width: 100%;
    //height: 91%;
  }
  &__blockdishes {
    border: @border;
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 50%;
    height: 100%;
  }
  &__card {
    //border: @border;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 90%;
    height: 80%;
    color: @coloryellow;
    perspective: 1000px;
  }
  &__front {
    .mixinsides();
  }
  &__back {
    .mixinsides();
    transform: rotateY(180deg);
    background-image: url("../../dist/pict/tree.png");
    //background-color: @colorgreen;
  }

  &__card:hover &__front {
    transform: rotateY(180deg);
  }
  &__card:hover &__back {
    transform: rotateY(360deg);
  }
  
  &__cow {
    border: @border;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    // width: 45%;
    //height: 72%;
    margin-top: 150px;
    svg {
      position: absolute;            
    }
    img {
      align-self: center;
    }
  }
  &__partrib {    
    .mixinpart();
  }
  &__partloin {    
    .mixinpart();
  }
  &__partsirloin {    
    .mixinpart();
  }
  &__partround {
    .mixinpart();
  }
  &__partflank {
    .mixinpart();
  }
  &__partshortplate {
    .mixinpart();
  }
  &__partforeshank {
    .mixinpart();
  }
  &__partbrisket {
    .mixinpart();
  }
  &__partchuck {
    .mixinpart();
  }


}